<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Management</title>
</head>
<img src="../webapp/img/image1.jpg" width="250" height="120">
<div style="text-align: center">
	<h1>Good Morning!!</h1>
</div>

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module("EmployeeManagement", []);

	//Controller Part
	app.controller("EmployeeManagementController", function($scope, $http) {

		//Initialize page with default data which is blank in this example
		$scope.employees = [];
		$scope.form = {
			empId : -1,
			empFirstName : "",
			empLastName : "",
			empSkill : ""
		};

		//Now load the data from server
		_refreshPageData();

		//HTTP POST/PUT methods for add/edit employee
		$scope.submitEmployee = function() {

			var method = "";
			var url = "";
			if ($scope.form.empId == -1) {
				//Id is absent so add employee - POST operation
				method = "POST";
				url = 'employees';
			} else {
				//If Id is present, it's edit operation - PUT operation
				method = "PUT";
				url = 'employees/' + $scope.form.empId;
			}

			$http({
				method : method,
				url : url,
				data : angular.toJson($scope.form),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(_success, _error);
		};

		//HTTP DELETE- delete employee by Id
		$scope.removeEmployee = function(employee) {
			$http({
				method : 'DELETE',
				url : 'employees/' + employee.empId
			}).then(_success, _error);
		};

		//In case of edit employee, populate form with employee data
		$scope.editEmployee = function(employee) {
			$scope.form.empFirstName = employee.empFirstName;
			$scope.form.empLastName = employee.empLastName;
			$scope.form.empSkill = employee.empSkill;
			$scope.form.empId = employee.empId;
		};

		/* Private Methods */
		//HTTP GET- get all employees collection
		function _refreshPageData() {
			$http({
				method : 'GET',
				url : 'employees'
			}).then(function successCallback(response) {
				$scope.employees = response.data.employees;
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}

		function _success(response) {
			_refreshPageData();
			_clearForm()
		}

		function _error(response) {
			console.log(response.statusText);
		}

		//Clear the form
		function _clearForm() {
			$scope.form.empFirstName = "";
			$scope.form.empLastName = "";
			$scope.form.empSkill = "";
			$scope.form.empId = -1;
		}
		;
	});
</script>
<style>
.button {
	cursor: pointer;
	color: blue;
}

td, th {
	border: 1px solid gray;
	width: 25%;
	text-align: left;
}

table {
	width: 600px;
}
</style>
<head>
<body ng-app="EmployeeManagement"
	ng-controller="EmployeeManagementController">
	<h1>Angular-JS to invoke RESTful APIs</h1>

	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Skill</th>
			<th>Actions</th>
		</tr>

		<tr ng-repeat="employee in employees">
			<td>{{ employee.empFirstName }}</td>
			<td>{{ employee.empLastName }}</td>
			<td>{{ employee.empId }}</td>
			<td><a ng-click="editEmployee( employee )" class="button">Edit</a>
				| <a ng-click="removeEmployee( employee )" class="button">Remove</a></td>
		</tr>

	</table>

	<h2>Add/Edit Employee's Record</h2>

	<form ng-submit="submitEmployee()">
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" ng-model="form.empFirstName" size="60" /></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" ng-model="form.empLastName" size="60" /></td>
			</tr>
			<tr>
				<td>Skill</td>
				<td><input type="text" ng-model="form.empSkill" size="60" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>

	<div ng-app="">

		<p>Input something in the input box:</p>
		<p>
			Name: <input type="text" ng-model="name">
		</p>
		<p ng-bind="name">Hello</p>

	</div>
	<div style="text-align: center">
		<h3>Designed By:</h3>
		<h3>
			<a target="_blank" rel="noopener" href="https://angular.io/tutorial">Ust-Employee</a>
		</h3>
	</div>
</body>

</html>
